<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="expo.modules.googlepay">

    <application>
        <activity
            android:name=".activity.CheckoutActivity"
            android:exported="true"
            android:label="@string/store_name"
            android:screenOrientation="portrait">
            
        </activity>
        <activity
            android:name=".activity.CheckoutSuccessActivity"
            android:exported="false"
            android:label="@string/store_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Enabling this flag is required in order to use the PaymentsClient -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>